<div class ="container">
<h1>Torello タスク管理Web Application</h1>
<p>これはTorelloを参考にしたタスク管理のwebアプリケーションです。</p>


<div class ="list_view">
<% @lists.each do |list| %>
  <ul>
    <li>タイトル：<%= list.title %></li>
    <li>作成日時：<%= list.created_at %></li>

    <% @cards.each do |card| %>
    <ur>
    <li>タイトル：<%= card.title %></li>
    <li>詳細：<%= card.detail %></li>
    <li>コメント：<%= card.comment %></li>
    <li>チェックリスト：<%=  %></li>
  </ur>
    <% end %>
  </ul>
<% end %>
</div>
</div>
